.main{
    position:absolute;
    top:25%;
    left:35%;
    height:400px;
    width:400px;
    background:#ffa500;
}
.icon{
    height:100px;
    width: 80px;
    cursor: pointer;
    z-index: 50;
}
.line-1{
    position:relative;
    top:120px;
    left:150px;
    height: 7%;
    width: 100%;
    background-color: #29434E;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: background-color .2s ease-in-out;

}
.line-2{
    -webkit-animation: animate-3-rev 0.7s ease-in-out;
    animation: animate-3-rev 0.7s ease-in-out;
    position:relative;
    top:130px;
    left:150px;
    height: 7%;
    width: 100%;
    background-color: #29434E;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: background-color .2s ease-in-out
}
.line-3{
    position:relative;
    top:140px;
    left:150px;
    height: 7%;
    width: 100%;
    background-color: #29434E;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: background-color .2s ease-in-out
}
